<div class="container-fluid p-0" id="footerContainer" style="color: white;">
  <!-- Jogoknak a sora: -->
  <div class="row mb-4 mt-2">
      <div class="col-lg-12">
          <p class="m-0 text-center mt-2">All rights reserved to Disney</p>
          <p class="m-0 text-center"><a class="footerLink text-decoration-none fw-bold " target="_blank" href="https://swapi.dev/">Source of every details</a></p>
          <p class="m-0 text-center"><a class="footerLink text-decoration-none fw-bold " target="_blank" href="https://starwars.fandom.com/wiki/Main_Page">Wookieepedia</a></p>
          <p class="m-0 text-center"><a class="footerLink text-decoration-none fw-bold " target="_blank" href="https://www.imdb.com/?ref_=nv_home">IMDB</a></p>
          <p class="m-0 text-center"><a class="footerLink text-decoration-none fw-bold " target="_blank" href="https://www.ign.com/">IGN</a></p>
      </div>
  </div>

  <!-- Keszito sora -->
  <div class="row mt-4 mb-2">
      <div class="col-lg-12">
          <p class="m-0 text-center"><span class="fw-bold">Made by:</span> Bence Halmai</p>
          <p class="text-center m-0">
              Contacts:
              <a class="mx-1 footerLink" target="_blank" href="https://github.com/Hbence10"><i class="fa-brands fa-github"></i></a>
              <a class="mx-1 footerLink" target="_blank" href="https://www.facebook.com/halmai.bence.5?locale=hu_HU"><i class="fa-brands fa-facebook-f"></i></a>
              <a class="mx-1 footerLink" target="_blank" href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit"><i class="fa-brands fa-linkedin"></i></a>
              <a class="mx-1 footerLink" target="_blank" href="#"><i class="fa-solid fa-envelope"></i></a>
          </p>
      </div>
  </div>
</div>
