<div class="container-fluid p-0">
  <div class="row">
      <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
              <div class="container-fluid">
                <a class="navbar-brand " routerLink="/home"><i class="fa-brands fa-galactic-senate"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span style="color: white !important;" class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <!-- Karakterek -->
                    <li class="nav-item mx-1" [class.active]="main.wantedListType == 'people'">
                      <a class="nav-link text-md-center text-sm-center text-center" (click)="listSwitch('people'); main.buttonQuantity = 9">Characters</a>
                    </li>
                    <!-- Filmek: -->
                    <li class="nav-item mx-1" [class.active]="main.wantedListType == 'movie'">
                      <a class="nav-link text-md-center text-sm-center text-center" (click)="listSwitch('movie')">Movies</a>
                    </li>
                    <!-- StarShipek -->
                    <li class="nav-item mx-1" [class.active]="main.wantedListType == 'starships'">
                      <a class="nav-link text-md-center text-sm-center text-center" (click)="listSwitch('starships'); main.buttonQuantity = 4" routerLink="/list">Starships</a>
                    </li>
                    <!-- Bolygok -->
                    <li class="nav-item mx-1" [class.active]="main.wantedListType == 'planets'">
                      <a class="nav-link text-md-center text-sm-center text-center" (click)="listSwitch('planets'); main.buttonQuantity = 6" routerLink="/list">Planets</a>
                    </li>
                    <!-- Fajok -->
                    <li class="nav-item mx-1" [class.active]="main.wantedListType == 'species'">
                      <a  class="nav-link text-md-center text-sm-center text-center" (click)="listSwitch('species'); main.buttonQuantity = 4" routerLink="/list">Species</a>
                    </li>
                  </ul>

                  <!-- Tema valto gombok es nemito gomb md-ben, sm-ben es simaban -->
                  <div class="d-lg-none d-md-flex d-sm-flex d-flex justify-content-center align-items-center my-3">
                    <button class="mx-2" onclick="switchTheme('light')">
                      <i class="fa-solid fa-jedi"></i>
                    </button>

                    <button class="mx-2" onclick="switchTheme('dark')">
                      <i class="fa-brands fa-galactic-republic"></i>
                    </button>

                    <button onclick="muteMusic()" (click)="muteMusic = !muteMusic" class="mx-2">
                      <i *ngIf="muteMusic" class="fa-solid fa-volume-xmark"></i>
                      <i *ngIf="!muteMusic" class="fa-solid fa-volume-high"></i>
                    </button>
                  </div>

                </div>

                <!-- Nemito gomb lg-ben -->
                <button onclick="muteMusic()"  class="mx-3 d-lg-block d-md-none d-sm-none d-none">
                  <i *ngIf="muteMusic" class="fa-solid fa-volume-xmark"></i>
                  <i *ngIf="!muteMusic" class="fa-solid fa-volume-high"></i>
                </button>

                <!-- Tema valto gomb lg-ben -->
                <div class="d-lg-flex d-md-none d-sm-none d-none buttonContainer">
                  <button class="mx-2 selectedTheme" onclick="switchTheme('light')">
                    <i class="fa-solid fa-jedi"></i>
                  </button>

                  <button class="mx-2" onclick="switchTheme('dark')">
                    <i class="fa-brands fa-galactic-republic"></i>
                  </button>
                </div>

              </div>
            </nav>
      </div>
  </div>
</div>
