.infoDiv{
  height: 100vh;
  width: 100vw;
}

#detailsContainer{
  height: 650px;
  width: 1420px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.specieImg{
  height: 540px;
}
