<div class="container xl">
  <div class="row" *ngFor="let row of rows; let i = index" [@loadingAnimation]>
    <div class="col-lg-4 my-3" *ngFor="let card of row; let j = index">
      <div class="container-fluid">

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center align-items-center">
            <img src="..//../assets/img/movie_posters/{{card.poster}}" [alt]="card.title" class="img-fluid" style="height: 400px;">
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex flex-column align-items-center justify-content-center">
            <h1 class="text-center my-2">{{card.title}}</h1>
            <p class="m-0"><span class="fw-bold">IGN: </span>{{card.ign}}</p>
            <p class="m-0"><span class="fw-bold">IMDB: </span>{{card.imdb}}</p>
            <button class="btn btn-outline-dark mt-2" (click)="chooseMovie(card)">Check Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
