<div class="container-fluid">
  <div class="row my-5">
    <div class="col-lg-12 d-flex justify-content-center align-items-center">
      <img src="../../assets/img/home_page/logo.png" alt="Star Wars Logo" class="img-fluid">
    </div>
  </div>

  <div class="row my-4">
    <div class="col-lg-12">
      <h1 class="text-center">Hot Topics:</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 my-2 cardContainer">
      <div class="container-fluid">

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center align-items-center">
            <img src="../../assets/img/home_page/movies.jpg" alt="Movies" class="img-fluid topicImg">
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <h1 class="text-lg-start text-md-center text-sm-center text-center">Movies</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla voluptate libero nobis enim dicta! Provident, eos itaque tempore repellendus eligendi dolore? Maxime excepturi soluta odit illum quisquam, suscipit sequi vel?</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-lg-start justify-content-md-center justify-content-sm-center justify-content-center align-items-lg-center">
            <button class="btn btn-outline-dark" routerLink="/list">See!</button>
          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-4 my-2 cardContainer">
      <div class="container-fluid">

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center align-items-center">
            <img src="../../assets/img/home_page/characters.jpg" alt="Characters" class="img-fluid topicImg">
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <h1 class="text-lg-start text-md-center text-sm-center text-center">Characters</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla voluptate libero nobis enim dicta! Provident, eos itaque tempore repellendus eligendi dolore? Maxime excepturi soluta odit illum quisquam, suscipit sequi vel?</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-lg-start justify-content-md-center justify-content-sm-center justify-content-center align-items-lg-center">
            <button class="btn btn-outline-dark" routerLink="/list">See!</button>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-4 my-2 cardContainer">
      <div class="container-fluid">

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center align-items-center">
            <img src="../../assets/img/home_page/spaceShips.jpg" alt="Starships" class="img-fluid topicImg">
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <h1 class="text-lg-start text-md-center text-sm-center text-center">StarShips</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla voluptate libero nobis enim dicta! Provident, eos itaque tempore repellendus eligendi dolore? Maxime excepturi soluta odit illum quisquam, suscipit sequi vel?</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-lg-start justify-content-md-center justify-content-sm-center justify-content-center align-items-lg-center">
            <button class="btn btn-outline-dark" routerLink="/list">See!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
